{% extends 'shop/main.html' %}

{% load static %}


{% block content %}

<div class="row">
    <div class="col s12 m4 l3 center" id="catNav">
        {% for i in arr %}
        <div class="section">
            <p id="message">{{i}}</p>
            <div class="divider"></div>
        </div>
        {% endfor %}

    </div>
    <div class="col s12 m8 l9 center fixed" id="prodDisp">
        <div class="row"><h1>Cakes</h1></div>
        <div class="row">
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-image">
                        <img class="activator" src="{% static '/images/Cakes_13.jpg' %}">
                        <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                    </div>
                    <div class="card-content">
                        <span class="card-title activator">Card Title</span>
                        <p>Chocolate Truffle cake</p>
                        <h6>₹ 500 Per KG</h6>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Chocolate Truffle Cake<i class="material-icons right">close</i></span>
                        <p>Here is some more information about this delicious cake, just to make you feel guilty if you don't buy it!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
